.register-selection-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    /* background: linear-gradient(to bottom, #AAB99A); */
    background: linear-gradient(to bottom right, #ebf4ff, #eef2ff);

}

h2 {
    color: #5A6E58;
    font-size: 2em;
    margin-bottom: 20px;
}

.roles-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.role-box {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: #5A6E58;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
}

.admin, .developer, .project-manager {
    background-color: #AAB99A;
}

.project-manager {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.role-box:hover {
    background-color: #D0DDD0;
    transform: scale(1.1);
}

